.hero-text {
  position: absolute;
  top: 25%;
  width: 30%;

  padding: 25px;
}
.hero-background {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  clip-path: circle(66.2% at 81% 50%);
  position: relative;
}
.weather {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.row {
  margin-right: none;
  --bs-gutter-x: none;
}

@media (max-width: 450px) {
  .hero-background {
    clip-path: none;
  }
  .hero-text {
    width: 50%;
    text-align: center;
    left: 25%;
    top: 25%;
  }
}
