:root {
  --text-color: #212529;
  --main-font: "Poppins", sans-serif;
  --headings-font: "Bebas Neue", cursive;
}
h1,
h2 {
  font-family: var(--headings-font);
  color: var(--text-color);
}
p,
h3,
h4,
li,
footer {
  font-family: var(--main-font);
  color: var(--text-color);
}
.img-fluid {
  border-radius: 3px;
}
.carousel {
  background-color: lightgray;
  border-radius: 3px;
  border: 1px solid lightgray;
}
#buy-section,
#sell-section,
#rent-section,
#invest-section {
  scroll-margin-top: 70px;
}
